/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Face Declaration */
@font-face {
    font-family: 'HYWenHei-85W';
    src: url('/static/genshin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply Custom Font to Elements */
body {
    font-family: 'HYWenHei-85W', Arial, sans-serif; /* Use the custom font */
}

/* Slider Styles */
.swiper-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;   
}



.swiper-wrapper {
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform .5s ease
}

.swiper-slide {
    width: 25%;
    height: 100%;
    flex-shrink: 0
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #fff;
    padding: 10px
}

nav img {
    height: 40px;
    margin-right: 10px
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center
}

nav ul li {
    margin-right: 10px
}

nav ul li a {
    color: #031f1f;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .2s ease-in-out
}

nav ul li a:hover {
    background-color: #000;
    color: #fff
}

.signin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px
}

/*Welcome */
.hero {
    background: url('./1.jpg')center/cover #fff;
    color: #fff;
    padding: 100px;
    text-align: center;
}

.hero h1,
.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    background: linear-gradient(to right, #ff00b7, #28cdcd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px
}

.highlights {
    text-align: center;
    margin-top: 30px
}

/*Flip card*/
.flip-card {
    width: 300px;
    height: 360px;
    perspective: 1000px;
    display: inline-block;
    margin: 80px;
    margin-top: 20px
}

.flip-card-inner {
    position: relative;
    width: 150%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
}

.flip-card-front img {
    object-fit: cover;
}

.flip-card-front h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.flip-card-back {
    background-color: #bef3ff;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flip-card-back h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.flip-card-back ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
}

.flip-card-back ul li {
    margin-bottom: 5px;
}

/*Buy Button*/
.btn-buy {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.btn-buy:hover {
    background-color: #3e8e41;
}
/*Last footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px
}

@media (max-width: 600px) {

    /* Slider */
    .swiper-container {
        height: 300px;
    }

    .swiper-wrapper {
        height: 100%;
    }

    .swiper-slide {
        width: 50%;
    }

    /* Navigation */
    nav ul li {
        margin-right: 5px;
    }

    .signin-button {
        padding: 8px 16px;
    }

    /* Welcome */
    .hero {
        padding: 50px;
    }

    .hero h1,
    .hero p {
        font-size: 1.2rem;
    }

    /* Flip card */
    .flip-card {
        width: 250px;
        height: 300px;
        margin: 40px;
    }

    .flip-card-inner {
        width: 120%;
    }

    .flip-card-front h3 {
        font-size: 1.2rem;
    }

    .flip-card-back h4 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .flip-card-back ul {
        font-size: 0.8rem;
    }

    /* Buy Button */
    .btn-buy {
        font-size: 0.9rem;
    }

    /* Last footer */
    footer {
        font-size: 12px;
    }
}